* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #2a364f;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
}

.main-heading h1 {
    margin-bottom: 20px;
}

img {
    width: 150px;
    height: 150px;
}

button {
    display: inline-block;
    background: #f8b627;
    color: #f4f4f4;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    border-radius: 3px;
    transition: 400ms;
    text-decoration: none;
    padding: 10px;
}