@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background: #2a364f;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.counter-container {
    padding: 60px;
}

.counter {
    color: yellow;
    font-size: 60px;
}

i,
span {
    padding: 25px;
    color: whitesmoke;
    font-size: 20px;
}